table{
    border-collapse: collapse;
    height: 1vw;
    width: 0.5vw;
   
    
}
.tab{


}
.page {

  margin: auto;
}

td{
   border: 3px white solid;
   height: 1vw;
   width: 0.5vw;
   text-align: center;
   font-size: 1vw;
   
}
.BK
{
   /* border: 2px  rgb(247, 236, 236) solid ;*/
    background-color: white;
    border-block-width: 50px;
    
}
.V{
    background-color: #9E95C6;
    text-justify: auto;
}
.B{
    background-color: #84B8D7;
}
.BC{
background-color: #A2DBC9;
}
.CL{
background-color: #CDEBC8 ;
}
.VC{
background-color: #F0F9C1 ;
}
.R{
background-color: #F8A68E;
}
.O{
background-color: #FDCE9F;
}
.OC{
background-color: #FEECB9;
}
.PL{
background-color: #E68A95;
}
.PP{
background-color: #C5688E;
}
.Ind{

}
.el{
font-weight: bolder;
font-size: 1.5vw;

}
.nom{

}
.val{

}
.presentation{
    text-align: center;
}
.presentation img{
    block-size: 150px;
    border-radius: 124px;
    background: #fafafa;
    box-shadow:  30px 30px 83px #969696, 
                 -30px -30px 83px #ffffff;
    
}
.presentation p {
   
}
.page{
 
    text-align: center;
}
.td{
    padding: 15px;
}